/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f6f6f6;
}

header {
    display: flex;
    padding-left: 80px;
    padding-top: 34px;
}

header h4 {
    padding-right: 24px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    font: #21242A;

}

header h3 {
    padding-right: 224px;
    font-family: Clash Display;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;

}

section{
    padding-top: 33px;
}

section .hero-img img{
    width: 1440px;
height: 800px;
top: 92px;
object-fit: cover;
margin: 0px;
padding: 0px;
-webkit-mask-image: linear-gradient(to bottom, #00000000, #00000000);
  mask-image: linear-gradient(to bottom, #00000000, #00000000);
}
section h2 {
    font-family: Clash Display;
font-weight: 700;
font-size: 50px;
line-height: 100%;
letter-spacing: 8%;
text-transform: uppercase;
font: #f6f6f6;
} */
